<div class="welcome">
  Welcome {{user.username}}
</div>

<table  class = "table table-hover table-striped inventory">
  <thead>
    <tr>
      <th>Product</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Color</th>
      <th>Add to Cart?</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td >Widget</td>
      <td>$32.00 </td>
      <td>231</td>
      <td>Red/td>
      <td><button  "button" class = "btn btn-primary"> Add to Cart</button></td>
      <td><img src="https://tiy-learn-content.s3.amazonaws.com/98350f05-sale_2.png"></td>
    </tr>
    <tr ng-repeat='products in shopCtrl.products | orderBy:"price"'>
      <td >{{products.name | uppercase}}</td>
      <td>{{(products.price + (products.price * .0575)) - products.discount | currency}} </td>
      <td>{{products.quantity}}</td>
      <td>{{products.color}}</td>
      <td><button  "button" class = "btn btn-primary"> Add to Cart</button></td>
      <td><img ng-show="products.discount>0" ng-src="https://tiy-learn-content.s3.amazonaws.com/98350f05-sale_2.png"></td>
    </tr>
  </tbody>
</table>
